@media (max-width: 1024px) {
  /* PAINEL */
  .painel .img-painel {
    width: 38rem;
  }
  /* =========== */
}

@media (max-width: 768px) {
  /* PAINEL */
  .painel .img-painel {
    width: 30rem;
  }

  .painel .texto-painel h2 {
    font-size: 3.2rem;
  }
  
  .painel .texto-painel h1 {
    font-size: 2rem;
  }
  /* =========== */
}
@media (max-width: 557px) {
  /* CABEÇALHO */
  .cabecalho .underline::after {
    display: none;
  }

  .cabecalho .toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    height: 35px;
    width: 35px;
    outline: none;
    border: none;
    background-color: transparent;
  }

  .cabecalho .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    background-color: rgb(4, 0, 7);
    width: 100vw;
    top: 65px;
    right: 0;
    height: 0;
    transition: .9s cubic-bezier(0.18, 0.89, 0.32, 1.28); 
    visibility: hidden;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  #nav.active .menu{
    gap: 0;
    height: calc(100vh - 78px);
    visibility: visible;
  }

  .toggle-menu .bar1,
  .toggle-menu .bar3 {
    transition: transform .3s ease-in-out;
  }

  .toggle-menu .bar2 {
    transition: opacity .2s ease-in-out;
  }

  #cabecalho.on .toggle-menu .bar1{
    transform: rotate(45deg) translateY(9px) translateX(5px);
  }

  #cabecalho.on .toggle-menu .bar2{
    opacity: 0;
  }

  #cabecalho.on .toggle-menu .bar3{
    transform: rotate(-45deg) translateY(-11px) translateX(6px);
  }

  .cabecalho .menu a {
    font-size: 2.5rem;
    width: 100vw;
    text-align: center;
    padding: 2rem;
  }

  .cabecalho .redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    position: fixed;
    bottom: 80px;
    right: 20px;
    border-radius: 10px;
    z-index: 500;
    height: 0;
    width: 5rem;
    overflow: hidden;
    visibility: hidden;
    transition: .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  .cabecalho .btn-redes-sociais-toggle {
    display: block;
  }

  #cabecalho.ativo .redes-sociais {
    display: flex;
    height: 15rem;
    visibility: visible;
  }
  /* =========== */
}

@media (max-width: 425px) {
  /* CABEÇALHO */
  .cabecalho {
    padding: 12px 0;
  }

  .cabecalho .icone-terminal {
    font-size: 2rem;
  }

  .cabecalho .toggle-menu {
    padding: 5px;
    height: 30px;
    width: 30px;
  }

  .cabecalho .menu {
    top: 54px;
  }

  #nav.active .menu{
    gap: 0;
    height: calc(100vh - 54px);
    visibility: visible;
  }

  #cabecalho.on .toggle-menu .bar1{
    transform: rotate(45deg) translateY(9px) translateX(7px);
  }

  #cabecalho.on .toggle-menu .bar3{
    transform: rotate(-45deg) translateY(-5px) translateX(3px);
  }

  .cabecalho .menu a {
    font-size: 2rem;
  }

  .cabecalho .btn-redes-sociais-toggle {
    height: 45px;
    width: 45px;
    bottom: 20px;
    right: 20px;
  }

  .cabecalho .redes-sociais {
    right: 25.5px;
    bottom: 70px;
    width: 3.5rem;
  }

  .cabecalho .redes-sociais a {
    font-size: 2.5rem;
  }

  #cabecalho.ativo .redes-sociais {
    display: flex;
    height: 13rem;
    visibility: visible;
  }
  /* =========== */

  /* PAINEL */
  .painel {
    background-color: #0c0114;
    height: calc(100vh - 54px);
  }

  .painel > div {
    flex-direction: column-reverse;
  }

  .painel .img-painel {
    width: 25rem;
  }

  .painel .texto-painel {
    text-align: center;
  }
  .painel .texto-painel h2 {
    font-size: 3rem;
  }
  
  .painel .texto-painel h1 {
    font-size: 1.7rem;
  }
  /* =========== */
}

@media (max-width: 375px) {
  /* CABEÇALHO */
  .cabecalho .menu a {
    font-size: 1.7rem;
  }
  /* =========== */
  

  /* PAINEL */
  .painel .img-painel {
    width: 22rem;
  }

  .painel .texto-painel h2 {
    font-size: 2.7rem;
  }
  
  .painel .texto-painel h1 {
    font-size: 1.6rem;
  }
  /* =========== */
}

@media (max-width: 320px) {
  /* CABEÇALHO */
  .cabecalho .menu a {
    font-size: 1.5rem;
  }
  /* =========== */
  
  /* PAINEL */
  .painel .img-painel {
    width: 22rem;
  }

  .painel .texto-painel h2 {
    font-size: 2.5rem;
  }
  
  .painel .texto-painel h1 {
    font-size: 1.45rem;
  }
  /* =========== */
}