
.rolagem {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
}

/* CABECALHO */
.cabecalho {
  background-color: var(--cor-principal);
  padding: 20px 0;
}

.cabecalho .icone-terminal {
  color: white;
  font-size: 2.5rem;
}

.cabecalho > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto
}

.cabecalho .menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.cabecalho .redes-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.cabecalho .redes-sociais a {
  color: white;
  font-size: 3rem;
  transition: transform .3s ease-in-out;
  display: block;
}

.cabecalho .redes-sociais a:hover {
  transform: scale(1.2);
}

.cabecalho .item-menu {
  color: white;
  display: block; 
  font-size: 1.5rem;
  font-family: 'Poppins';
  font-weight: 500;
}

.cabecalho .underline::after {
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto; 
  transform: scaleX(0);
  height: 0.2rem;
  background-color: white;
  transition: transform .8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.cabecalho .item-menu:hover~.underline::after {
  transform: scaleX(1);
}

.cabecalho .toggle-menu {
  display: none;
}

.cabecalho .toggle-menu .bar {
  width: 100%;
  height: 0.3rem;
  background-color: white;
  border-radius: 10px;
}

.cabecalho .btn-redes-sociais-toggle {
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--cor-principal);
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  display: none;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 4px 0px 3px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 4px 4px 0px 3px rgba(0,0,0,0);
  transform: rotate(0);
  transition: transform .9s cubic-bezier(0.18, 0.89, 0.32, 1.28); 
}
/* ========================================== */

/* PAINEL */
.painel {
  background: linear-gradient(180deg, var(--cor-principal) 0%, rgba(80,0,30,1) 100%);
  height: calc(100vh - 75px);
}

.painel > div {
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.painel .texto-painel {
  flex: 0 1 max-content;
}

.painel .texto-painel h2 {
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: 'Poppins';
}

.painel .texto-painel h1 {
  color: white;
  font-family: 'Fira Code';
  font-weight: 300;
  text-transform: capitalize;
  font-size: 2.3rem;
}

.painel .texto-painel h1::after {
  content: "_";
  font-weight: 500;
  animation: piscar .5s infinite;
}

.painel .img-painel {
  width: 45rem;
}
/* ========================================== */

/* SOBRE MIM*/
section.sobre-mim {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background-color: #50001e;
}

section.sobre-mim > div {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.cabecalho-secoes {
  margin: 20px 0;
}

.cabecalho-secoes h2 {
  font-size: 4rem;
  color: #fff;
}

.cabecalho-secoes h2::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 4px;
  width: 100px;
  margin: 20px auto;
}

img.foto-sobre-mim {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  margin-bottom: 3rem;
  clip-path: circle(50% at 50% 50%);
  filter: grayscale(1);
  transition: filter .2s ease-in-out;
}

img.foto-sobre-mim:hover {
  filter: grayscale(0);
}

p.texto-sobre-mim {
  text-align: center;
  font-size: 2rem;
  font-family: 'Poppins';
  color: white;
}

a.btn-curriculo {
  margin-top: 40px;
  color: #fff;
  font-size: 2rem;
  background-color: #200404;
  padding: 20px 50px;
  border-radius: 10px;
  transition: transform .3s cubic-bezier(0.18, 0.89, 0.32, 1.28); 
}

a.btn-curriculo:hover {
  transform: scale(1.08);
}
/* =========================================== */

